<p-menubar [model]="menuItems">
  <ng-template pTemplate="end">
    <p-button [rounded]="true" (click)="toggleTheme()" class="hidden md:block">
      <i [ngClass]="light ? 'pi pi-sun' : 'pi pi-moon'" ></i>
    </p-button>
  </ng-template>
</p-menubar>