<div class="align-content-center">
  <div>
    <p-button icon="pi pi-github" [rounded]="true" [outlined]="true"
              (click)="openInNewWindow('https://github.com/MirzaAbazovic')">
    </p-button>
    <p-button icon="pi pi-linkedin" [rounded]="true" [outlined]="true"
              (click)="openInNewWindow('https://www.linkedin.com/in/mirza-abazovic/')">
    </p-button>
  </div>
  <div>
    <p class="text-xs opacity-40">
      © 2024 Oros. All rights reserved. <a href="/impressum">Impressum</a>
    </p>
  </div>
</div>