<!--<div class="flex flex-column justify-content-between flex-wrap">-->
<!--  <div class="flex align-items-center justify-content-left border-round m-2">-->
<!--    <oros-header></oros-header>-->
<!--  </div>-->
<!--  <div class="flex align-items-center justify-content-center border-round m-2">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div class="flex align-items-center justify-content-center border-round">-->
<!--    <oros-footer></oros-footer>-->
<!--  </div>-->
<!--</div>-->


<div class="header">
  <oros-header></oros-header>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <oros-footer></oros-footer>
</div>


