<p-panel [toggleable]="true" class="px-8 border-round fadein animation-duration-1000">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <div class="font-bold text-3xl text-primary text-center">
        Understanding Customer Needs: Crafting the Perfect Syllabus
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap align-items-center justify-content-between gap-3">
      <div class="flex align-items-center gap-2">
        Mirza Abazovic
      </div>
      <span class="p-text-secondary">23.03.2024</span>
    </div>
  </ng-template>
  <div class="font-bold text-xl text-justify p-2 m-3">
    In the realm of education and professional development, the <span class="text-primary">journey from novice to expert is one filled with
    learning, challenges, and growth.</span>
    As educator and course creator, it's paramount for me to understand the needs
    and desires of our audience to craft a curriculum that not only meets their expectations but also exceeds them.
    That's why I'm thrilled to announce an <span class="text-primary">opportunity for You to shape the future of upcoming course</span>, "From Junior
    to Intermediate (Mid-level) Developer."
    <p>
      By actively engaging with potential candidates and understanding their unique needs, I can ensure that the
      course is relevant, impactful, and valuable.
    </p>
    <p>
      With that in mind, I am excited to <span class="text-primary">invite You to participate in a survey</span> designed to gather insights and feedback
      that will inform the development of our syllabus.

      Your input will be instrumental in helping me tailor the course
      content to address the specific challenges and aspirations of aspiring developers transitioning from junior to
      mid-level roles.

      Your responses will help us identify the areas where You feel the most support and guidance are needed, as well as
      the topics that interest You the most.
    </p>
    <p>
      As a token of appreciation for your valuable feedback, <span class="text-primary">all participants in the survey will receive an exclusive
      15% discount</span> on the "From Junior to Intermediate Developer" course once it launches.

      This is my way of saying <span class="text-primary">thank You for taking the time to share your thoughts</span> and helping me create a course that
      truly meets your needs.

      Your input matters, and together, we can build a learning experience that empowers aspiring developers to reach
      new heights in their careers.
    </p>
    <p class="text-primary text-2xl ">Here is the <a href="https://forms.gle/7E8iKkdPgYFnJZ6J6" target="_blank">survey link</a>, and let's embark on this journey of exploration and growth together.
    </p>

    I look forward to shaping the future of software development education with You!
  </div>
</p-panel>

