<div class="flex justify-content-center fadein animation-duration-1000 flex align-items-center justify-content-center
    border-round m-2 px-5 py-3">


  <div class="grid">
    <div class="col-12 text-center">Impressum</div>
    <div class="col-12">
      <div class="text-left">
        Oros - IT consulting service, Software development agency
      </div>
    </div>
    <div class="col-12">
      <div class="text-left"> www.oros.ba</div>
    </div>
    <div class="col-12">
      <div class="text-left"> Address:
        Grbavicka 66,
        71000 Sarajevo,
        Bosnia & Herzegovina
      </div>
    </div>
    <div class="col-12">
      <div class="text-left">Phone: <a href="tel:+38761676178">+387 (61) 676 - 178</a></div>
    </div>
    <div class="col-12">
      <div class="text-left">Email: <a href="mailto:info@oros.ba">info&#x40;oros.ba</a>
      </div>
    </div>
    <div class="col-12">
      <div class="text-left">Registered at GOV ID # (JIB): 4033968980006</div>
    </div>
    <div class="col-12">
      <div class="text-left">Represented by: Mirza Abazović, Ing. El. Techn. Inf. [at] <a href="https://fet.ba"
                                                                                          target="_blank">FET
        (Tuzla)</a>
      </div>
    </div>

  </div>
</div>

